/*html {
  background: url('../images/samuel-zeller-16570.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

.grunge {
  width: 80%;
}

#bg {
  /*display: none;*/
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; } /*for bootstrap-ng*/

.myGrid {
    width: 100%;
    height: 700px;
  }
