<h2>Customers</h2>

<table class="table table-striped myGrid">
  <thead>
    <tr>
      <td>Name</td>
      <td>Address</td>
      <td>Phone</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="customer in customers">
      <td>{{customer.firstname}} {{customer.lastname}}</td>
      <td>{{customer.address}}<br>{{customer.city}} {{customer.state}} {{customer.zipcode}}</td>
      <td>{{customer.phonenumber}}</td>
      <td class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Actions
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <ul>
              <li>
                <a class="dropdown-item" ui-sref="orders/{{customer.id}}">View Orders</a>
              </li>
              <li>
                <a class="dropdown-item" ng-click="deleteCustomer()">Delete</a>
              </li>
            </ul>
          </div>
      </td>
    </tr>
  </tbody>
</table>
