<section>

<div class="modal-header">
  <h3 class="modal-title" id="modal-title">{{product.title}}</h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="" ng-if="showMode">
    {{product.description}}
  </div>

  <div class="" ng-if="!showMode">
    <form name="productForm" ng-show="editMode" ng-submit="CreateProfile(productForm.$valid)" novalidate>

      <div class="input-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <label for="name">Product Name</label>
        <input type="text" class="form-control" name="name" placeholder="Product Name" ng-model="product.name" required ng-required="true">
        <p ng-show="productForm.name.$invalid && !productForm.fullname.$pristine" class="help-block">Product name is required.</p>
      </div>

    </form>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()" ng-disabled="productForm.$invalid">OK</button>
  <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>

</section>
