
<div class="jumbotron" ng-if="!user">
  <h3>It looks like you haven't logged in yet</h3>
  <a class="btn btn-primary btn-lg"  href="/auth/facebook" class="undecorated-link"><span class="glyphicon glyphicon-thumbs-up"></span>Use Facebook</a>
</div>

<h2>Your Cart</h2>
<div class="jumbotron" ng-if="user && (!products || products.length == 0)">
  <h3>It doesn't look like you have anything in your cart</h3>
  <p><a class="btn btn-primary btn-lg" ui-sref="products" role="button">View Products</a></p>
</div>

<div class="" ng-if="products">

<ul class="list-group">
  <li class="list-group-item" ng-repeat="item in products">
    <div class="row">
      <div class="col-md-1">
        <img class="img-responsive-sm" ng-src="{{item.product.imageurl || 'images/app_product.png'}}" alt="{{item.product.name}}"  onerror="if (this.src != 'app_product.png') this.src = 'images/app_product.png';">
      </div>
      <div class="col-md-6">
        <h4 class="list-group-item-heading">{{item.product.name}}</h4>
        <p class="list-group-item-text">{{item.product.description}}</p>
      </div>
      <div class="col-md-2">
        {{format(item.product.unitprice)}}
      </div>
      <div class="col-md-2">
        <!-- <span class="badge">{{item.quantity}}</span> -->
        <input type="text" ng-model="item.quantity" style="width:60%;text-align:right;">
        <a ng-click="changeQuantity(item.product, item.quantity)">
          <span class="glyphicon glyphicon-repeat"></span>
        </a>
      </div>

      <div class="col-md-1">
        <a ng-click="removeFromCart(item.product)">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
      </div>
    </div>
  </li>
</ul>

<div class="row">
  <div class="col-md-6">
    <a class="btn btn-primary btn-lg" role="button" ng-click="placeOrder()">Place Order</a>
  </div>
  <div class="col-md-6 pull-right">
    <b>Total: {{format(total)}}</b>
  </div>
</div>
</div>
